a.tooltip {
    position:relative;
    color:#000;
    text-decoration:none;
    }
a.tooltip span {
    display: none;
}
a.tooltip:hover span {
    display:block;
    position:absolute;
    top:2em;
    left:2em;
    width:110px;
    border:2px solid #000000;
    background-color:#CC3333;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color:#ffffff;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 5px;
}
